body {
background-color: #666666;
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
h1{
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
h2{
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
h3{
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
p{
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
a:link{
color: white;
text-decoration: none;
}
a:visited{
color: #EEEEEE;
text-decoration: none;
}
a:hover{
color: #66CCEE;
text-decoration: underline;
}
table, tr, th, td{
border: 1px solid white;
border-collapse: collapse;
color: white;
font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 365px;
    margin: 0 auto;
	border-radius: 15px;
}

.zoomlite:hover {
    transform: scale(1.075);
    /* (Note: if the zoom is too large, it will go outside of the viewport) */
}


.zoomlite {
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 100px;
    margin: 0 auto;
	border-radius: 15px;
}

.zoom:hover {
    transform: scale(1.075);
    /* (Note: if the zoom is too large, it will go outside of the viewport) */
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: #34495e;
}

.collapsible:after {
    content: '\02796';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2795";
    /* Unicode character for "minus" sign (-) */
}