body {
background-color: #666666;
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
h1{
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
h2{
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
h3{
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
p{
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
}
a:link{
color: white;
text-decoration: none;
}
a:visited{
color: #EEEEEE; 
text-decoration: none;
}
a:hover{
color: #66CCEE;
text-decoration: underline;
}
