.hoverable-image {
  transition: all 0.2s ease-in-out;
}

.hoverable-image:hover {
  transform: scale(1.1);
}

.headers {
  font-family: "Arvo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo", sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

#backingCanvas {
  margin: 0;
  padding: 0;
  position: fixed;
  touch-action: none;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  top: 0;
  left: 0;
  z-index: -1;
}

.containers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.grid-container {
  box-sizing: border-box;
}

.descriptions {
  border-radius: 5px;
  font-family: "Arvo", sans-serif;
}

a:hover {
  color: #43b3ae;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column div {
  margin-top: 8px;
  vertical-align: middle;
  background-color: #43b3ad8f;
}

.row * {
  padding: 8px;
  border-radius: 6px;
}

.gridcontent {
  box-shadow: 3px 3px #43b3ae;
}

.phrasetable {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.phrasetable tr,
td {
  padding: 10px;
  font-size: 1.5vmax;
}

.phrasetable tr:nth-child(even) {
  background-color: #e0faf9;
}
