body {
  font-family: sans-serif;
}

td {
  font-size: large;
}

.gamecontainer {
  /* border: 1px solid black; */
  width: 85vw;
  height: 85vh;
  margin: 0 auto;
  margin-top: 5px;
}

.lessonselector {
  position: absolute;
  left: 10px;
  top: 30px;
}

.lessoncarddiv {
  margin: auto;
  position: relative;
  top: 10%;
}

.lessoncardtable {
  width: 98%;
  text-align: center;
  margin: auto;
  border-collapse: separate;
  border-spacing: 2em;
  table-layout: fixed;
}

.lessoncardbutton {
  background-color: purple;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.lessoncardbutton:hover {
  background-color: darkorchid;
}
