@font-face {
  font-family: "Arvo";
  src: url("./media/arvo/Arvo-Regular.ttf") format("embedded-opentype"),
    url("./media/arvo/Arvo-Regular.ttf") format("woff2"),
    url("./media/arvo/Arvo-Regular.ttf") format("woff"),
    url("./media/arvo/Arvo-Regular.ttf") format("truetype"),
    url("./media/arvo/Arvo-Regular.ttf") format("svg");
}

.cookie-banner {
  display: grid;
  justify-content: center;
}

.paragraphs {
  font-family: sans-serif;
  width: 80vw;
  margin: auto;
  text-align: center;
}

.toplinks {
  display: inline;
  width: 80vw;
  margin: auto;
  text-align: center;
}

.downloads,
.customexerciseoptions {
  display: none;
}

.truthtable {
  /* border: 1px solid black; */
  width: 70vw;
  border-radius: 10px;
}

.truthtable-question-left {
  width: 33%;
  /*
  This may seem counter-intuitive, but we want to 
  smoosh the left text close to the center, and the
  right text close to the center.
  */
  text-align: right;
  font-size: 20px;
  /* border: 1px solid black; */
}

.truthtable-question-center {
  width: 33%;
  text-align: center;
  font-size: 20px;
  /* border: 1px solid black; */
}

.truthtable-question-right {
  width: 33%;
  text-align: left;
  font-size: 20px;
  /* border: 1px solid black; */
}

.truthtable-question-header {
  text-align: center;
  font-size: x-large;
}

.truthtable-button-cell {
  width: 50%;
  text-align: center;
  /* border: 1px solid black; */
}

.truthtable-button-true {
  margin-right: 30px;
  margin-left: 30px;
  color: white;
  background-color: rgb(0, 128, 43);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: large;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.truthtable-button-true:hover {
  background-color: rgb(0, 100, 34);
}

.truthtable-button-false {
  margin-right: 30px;
  margin-left: 30px;
  color: white;
  background-color: rgb(255, 30, 0);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: large;
  padding: 10px 20px;
}

.truthtable-button-false:hover {
  background-color: rgb(206, 25, 1);
}

.cookieitem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.cookiebutton {
  width: 200px;
  height: 60px;
  font-size: 20px;
}

hr {
  border: solid 1px black;
  width: 96%;
  color: #ffff00;
  height: 1px;
}
/* Stuff for quizzes below */

.scorebar {
  width: 14vw;
  height: 11vw;
  font-size: 20px;
  position: fixed;
  z-index: 1;
  bottom: 10%;
  left: 0%;
  background-color: #43b3ae;
  overflow-x: hidden;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: collapse;
}

h3 {
  font-family: "Arvo", sans-serif;
  width: 80vw;
}

.paragraphs {
  font-family: "Arvo", sans-serif;
  width: 80vw;
}

input[type="radio"] {
  border: 0px;
  height: 1.5em;
  vertical-align: bottom;
  margin: 10px 0 10px 0;
  display: block;
}

.scriptoptions,
.practiceformatoptions {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-top: -20px;
}

.scriptoptionslabel {
  font-size: 20px;
}

.practiceformatoptionslabel {
  font-size: 20px;
  text-transform: capitalize;
}

.practiceformatsradioform {
  margin-top: 40px;
}

.scriptoptionstitletext {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
}

.quizcontainer {
  list-style-type: none;
  align-content: center;
  margin-top: 4px;
  padding: 0;
  width: 60%;
  background-color: #f1f1f1;
  overflow: auto;
}

.quizquestionheader {
  place-self: center;
  font-size: 30px;
}

.practiceoptionsdropdown {
  font-size: 20px;
  width: 60vw;
}

.quizoption {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  font-family: "Arvo", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.quizoption:hover {
  background-color: rgb(4, 65, 83);
  color: white;
}

/* Stuff for flashcards below */

/*
TODO
I'm using the flashcardcontainer class for t/f quizzes,
and it's making the space between the questions huge.
If I wanna fix it, I need to add a new class that will
contain the t/f questions.
*/
.flashcardcontainer {
  display: grid;
  width: 90vw;
  gap: 20px 20px;
  align-items: center;
  margin-top: 10px;
  justify-items: center;
  justify-content: center;
  grid-auto-rows: 80vw;
}

/* the column axis is handled by align-items */

.actionButtons {
  background-color: #318888;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  cursor: grab;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/* 
For the love of God,
do not modify below this line.

*/

.scene {
  width: 80%;
  height: 80%;
  perspective: 200px;
  border-radius: 4px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.5s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 50%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  border-radius: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__face--front {
  background: #43b3ae;
}

.card__face--back {
  background: #a862e0;
  transform: rotateY(180deg);
}
